<aside>
  <nav class="closed-on-mobile">
    <div class="title">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
          <a class="title-name" href="{{ '/' | url }}"><code>sqlite-jsonschema</code></a>
        </div>
        <div>
          <a href="https://github.com/asg017/sqlite-jsonschema">
            <img width="24px" height="24px" alt="Github logo" src="{{ '/static/github-mark-white.svg' | url }}"/>
          </a>
        </div>
      </div>
      <a href="https://github.com/asg017/sqlite-jsonschema/releases/tag/{{ VERSION }}">
        <code class="title-version">{{ VERSION }}</code>
      </a>
    </div>
    
    {% for section in sidebar_menu %}
    {% if section.nested %}
      <details class="sidebar-navbar-section" open>
      <summary>
        <span class="sidebar-navbar-section-title">{{ section.title }}</span>
      </summary>
      <ul class="sidebar-navbar-section-links">
        {% for page in search.pages("url^=/" + section.id, "order title") %}
          <li>
            {% if page.data.url == url %}
            <a href="{{ page.data.url | url }}" aria-current="page" title="{{ page.data.description }}">{{ page.data.title | md(true) }}</a>
            {% else %}
            <a href="{{ page.data.url | url }}" title="{{ page.data.description }}">{{ page.data.title | md(true) }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>  
    </details>
    {% else %}
      <div class="x"> <a href="{{ search.page("url^=/" + section.id).data.url | url }}">{{section.title}}</a></div>
    {% endif %}
    
    {% endfor %}
  </nav>
  <style>
  .x {
    margin-bottom: var(--spacing);
    padding-bottom: var(--spacing);
    border-bottom: var(--border-width) solid var(--accordion-border-color);
  }
  .title {
    height: 4rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }
  .title code {
    padding: .2rem;
  }
  .title-name code {
    color: var(--primary);
  }
  .title-version {
    font-size: .8rem;
    color: white;
  }
  .sidebar-navbarx {
    padding-top: 6rem;
    border-right: 1px solid #cecece;
    height: 100vh;
  }
  .sidebar-navbar-section-links li {
    padding-left: 1rem;
  }
  .sidebar-navbar-section-title {
    color: #ececec;
    font-weight: 600;
  }
  aside a {
    color: #ececec;
  }
  [role=link]:is([aria-current],:hover,:active,:focus), a:is([aria-current],:hover,:active,:focus) {
    color: var(--primary);
  }
</style>
</aside>